<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning App Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="header container">
        <h1>Learning App</h1>
        <div class="nav-buttons">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </div>

    <!-- display create flashcard set -->
    <div class="widgets container">
        <div class="study-tools">
            <button onclick="window.location.href='{{ url_for('create_flashcard_set') }}'">Create Flashcards</button>
        </div>
    </div>

    <!-- show recently made flash card sets -->
    <div class="flashcard-sets container">
        <h2>Recent Flashcard Sets</h2>
        <ul>
            {% for set in flashcard_sets %}
            <li>
                <a href="{{ url_for('flashcard_set', set_id=set.id) }}">{{ set.title }}</a> - {{ set.description }}
            </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
